/* 共通スタイル */
body {
    color: #000000;
    background-color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    width: 100%;
}
h1 {
    font-size: 34px;
    text-align: center;
}
h2 {
    font-size: 24px;
}
#copyright {
    font-size: 18px;
}
nav {
    font-size: 34px;
    margin: auto 50px;
    height: 115px;
}
nav > div {
    align-self: center;
}
nav > div > a {
    text-decoration: none;
}
nav > div > a:link {
    color: #000000;
}
nav > div >a:visited {
    color: #000000;
}
nav > div >a:hover {
    color: #000000;
}
nav > div >a:active {
    color: #000000;
}
#nav-myprofile {
    border: 2px solid gray;
}

#top {
    width: 100%;
    margin: 20px auto;
}
#main-visual {
    width: 100%;
}

#about {
    margin: 60px auto;
}
#face-photo {
    border-radius: 50%;
}


#works {
    margin: 20px auto;
}

footer {
    margin: 50px;
    text-align: center;

}
/* PC用スタイル */
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 50px;
    }
    #about > div {
       display: flex;
       justify-content: space-around;
       max-width: 1000px;
       margin: 0 auto;
    }
    #works > div {
        display: flex;
        justify-content: space-around;
        max-width: 1150px;
        margin: 0 auto;
    }
    #works > div > div {
        margin: 0 auto;
        max-width: 358px;
    }
    #about-text {
        padding-top: 30px;
    }

}

/* スマホ用スタイル */
@media screen and (max-width: 767px) {

    nav {
        font-size: 25px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    #about-text {
        width: 400px;
        margin: 0 auto;
    }
    #face-photo-div {
        text-align: center;
    }
    #works > div {
        text-align: center;
    }
}